.row {
    margin: 0;
}

.title {
    margin-bottom: 5vh;
}


@media(max-width:767px) {
    .cardd {
        margin: 3vh auto;
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}

.summary .col-2 {
    padding: 0;
}

.summary .col-10 {
    padding: 0;
}

.row {
    margin: 0;
}

/* .main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
} */

/* .col-2,
.col {
    padding: 0 1vh;
} */



.close {
    margin-left: auto;
    font-size: 1rem;
}



.back-to-shop {
    margin-top: 4.5rem;
}


.cardd select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.cardd input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.cardd input:focus::-webkit-input-placeholder {
    color: transparent;
}

.cardd .btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    /* font-size: 0.7rem; */
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}

.cardd .btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    transition: none;
}

.btn:hover {
    color: white;
}

.plus-minus-input {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
  }
  
  .plus-minus-input .input-group-field::-webkit-inner-spin-button,
  .plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .plus-minus-input .input-group-button .circle {
    border-radius: 50%;
    padding: 0.25em 0.8em;
  }
  
  